.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
    background-color: #F3E5D8;
}

.container{
    width: 700px;
    background-color: white;
    margin: auto;
    border-radius: 20px;
    padding-top: 24.5px;
    padding-bottom: 24.5px;
}

.content{
    margin: 24.5px;
}

img{
    display: block;
    margin: auto;
    max-width: 93%;
    border-radius: 10px;
}

h1{
    font-family: "Young Serif", serif;
}

h2{
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    color: hsl(14, 45%, 36%);
}

.sec1{
    background-color: hsl(330, 100%, 98%);
    padding: 8px 20px 8px 20px;
    border-radius: 8px;
}

.preparation{
    margin-left: 15px;
}

.lineSpace{
    line-height: 30px;
    font-family: "Outfit", sans-serif;
}

strong{
    margin-left: 25px;
}

h3{
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    color: hsl(332, 51%, 32%);
}

.sec2{
    padding-bottom: 20px;
}

.liColor{
    line-height: 1.5;
    padding-bottom: 10px;
    font-family: "Outfit", sans-serif;
}

.liColor::marker{
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}

span{
    font-weight: bold;
}

table{
    width: 100%;
    border-collapse: collapse;
}

.underLine{
    border-bottom: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.mLeft{
    padding-left: 25px;
    font-family: "Outfit", sans-serif;
}

.tdColor{
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}